# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#  
.idea
.project
.pydevproject
.settings
.coverage
coverage.xml
*.swp
.DS_Store
ensembl_metadata/settings/secrets.py
log
apache
tmp

*.py~

